<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="../assests/css/layout.css">
        <link rel="stylesheet" href="../assests/css/header.css">
        <link rel="stylesheet" href="../assests/css/footer.css">
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>